:root{
  --bg:#0a0a0a;
  --surface:#111;
  --card:#181818;
  --card2:#1e1e1e;
  --accent:#e8c97e;
  --accent2:#c8a84b;
  --accent-dim:rgba(232,201,126,0.12);
  --text:#f0ebe0;
  --muted:#777;
  --muted2:#555;
  --border:#222;
  --border2:#2e2e2e;
}

body,#root{
    background:var(--bg);
    color:var(--text);
    font-family:'DM Sans',sans-serif;
    font-size:13px;
}
.loginn{
        width: 80px;
        height: 30px;
        border-radius: 12px;
        position: relative;
        background-color: var(--accent2);
        color: #ffffff;
        font-weight: bold;

    }
.loginn a{
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
        line-height: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.loginn:hover{
    background-color: white;
}
.loginn a:hover{
    color: var(--accent2);
}    
a{
    color:inherit;
    text-decoration:none;
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:12px 24px;
    border-bottom:0.5px solid var(--border);
    background:#1111113f;
    backdrop-filter: blur(10px);
    
    z-index: 2;
    position:fixed ;
    right: 0;
    top: 0;
    left: 0;
    right: 0;
}
.logo-wrap{
    display:flex;
    align-items:center;
    gap:8px;
}
.logo-mark{
    width:32px;
    height:32px;
    border-radius:7px;
    background:var(--card);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-shrink:0;
}

.logo-mark img{
    width:18px;
}   
.logo-text strong{
    padding:0px 160px 0px 0px; 
    font-size:15px;
    color:var(--accent);
    letter-spacing:2px;
    font-weight:700;
}
.logo-text small{
    font-size:7px;
    color:var(--muted);
    letter-spacing:3px;
    display:block;
}
.nav-links ,a{
    display:flex;
    gap:20px;
    font-size:11px;
    color:var(--muted);
    transition: 1s;
    animation-timing-function: ease-in;
}
.nav-actions{
    display:flex;
    gap:8px;
}
.icon-btn{
    width:30px;
    height:30px;
    border-radius:6px;
    border:0.5px solid var(--border2);
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--card);
    cursor:pointer;
    font-size:13px;
    position:relative;
}
.cart-badge{
    position:absolute;
    top:-5px;
    right:-5px;
    width:15px;
    height:15px;
    background:var(--accent);
    color:#0a0a0a;
    border-radius:50%;
    font-size:10px;
    font-weight:700;
    display:flex;
    align-items:center;
    justify-content:center;
}
.Main{
    padding:48px 24px 40px 70px;
    text-align:center;
    background:radial-gradient(ellipse at 50% 0%,#1a1408 0%,var(--bg) 70%);
    border-bottom:0.5px solid var(--border);
    animation: s1 3s ease-in-out;
}


.Main-eyebrow{
    font-size:9px;
    letter-spacing:4px;
    color:var(--accent);
    margin-bottom:14px;
    opacity:.8;
}
.Main h1{
    font-size:38px;
    font-weight:400;
    line-height:1.12;
    margin-bottom:12px;
    color:var(--text);
    font-family:Georgia,serif;
}

.Main h1 span{
    display:inline-block;
    transition: 0.5s;
    animation-timing-function: ease-in-out;
}

.Main h1:has(span:hover) span:not(:hover){
    filter: blur(10px);
    transition: 0.5s;
    animation-timing-function: ease-in-out;
}

.Main h1 em{
    color:var(--accent);
    font-style:italic;
}
.Main p{
    font-size:11px;
    color:var(--muted);
    max-width:340px;
    margin:0 auto 24px;
    line-height:1.8;
}
.Main-btns{
    display:flex;
    gap:10px;
    justify-content:center;
}
.PrimaryButton{
    background:var(--accent);
    color:#0a0a0a;
    font-size:11px;
    font-weight:600;
    padding:10px 22px;
    border-radius:3px;
    border:none;
    cursor:pointer;
    transition: 0.5s;
    animation-timing-function: ease-in-out;
}

.PrimaryButton:hover{
    background:var(--accent2);
}

.SecondaryButton{
    background:transparent;
    color:var(--text);
    font-size:11px;
    padding:10px 22px;
    border-radius:3px;
    border:0.5px solid var(--border2);
    cursor:pointer;
    transition: 0.5s;
    animation-timing-function: ease-in-out; 
    animation: linborder 2s infinite;
}

.SecondaryButton:hover{
    background:var(--accent-dim);
    border-color:var(--accent);
    color:var(--accent);
}
.Main-stats{
    display:flex;
    justify-content:center;
    gap:36px;
    margin-top:36px;
    padding-top:28px;
    border-top:0.5px solid var(--border);
}
.stat strong{
    display:block;
    font-size:24px;
    color:var(--accent);
    font-weight:400;
    font-family:Georgia,serif;
    animation: cunt 3s ease-in-out;
}
.stat small{
    font-size:9px;
    color:var(--muted);
    letter-spacing:1px;
}
.trust{
    display:flex;
    justify-content:space-around;
    padding:12px 24px;
    background:var(--card);
    border-bottom:0.5px solid var(--border);
}
.trust-item{
    display:flex;
    align-items:center;
    gap:6px;
    font-size:10px;
    color:var(--muted);
}
.sec-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:22px 24px 12px;
}
.sec-title{
    font-size:18px;
    font-weight:400;
    color:var(--text);
    font-family:Georgia,serif;
}
.sec-link{
    font-size:10px;
    color:var(--accent);
    cursor:pointer;
    letter-spacing:0.5px;
}
.cat-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:8px;
    padding:0 24px 20px;
}
.cat-card{
    background:var(--card);
    border:0.5px solid var(--border2);
    border-radius:8px;
    padding:14px 10px;
    text-align:center;
    cursor:pointer;
}
.cat-icon{
    font-size:22px;
    margin-bottom:6px;
}
.cat-icon svg{
    width: 100px;
}
.cat-name{
    font-size:9px;
    color:var(--muted);
    letter-spacing:1px;
}

.filter-row{
    display:flex;
    gap:6px;
    padding:0 24px 14px;
    overflow-x:auto;
    scrollbar-width:none;
}
.pill{
    font-size:10px;
    padding:5px 13px;
    border-radius:3px;
    border:0.5px solid var(--border2);
    color:var(--muted);
    cursor:pointer;
    white-space:nowrap;
    background:transparent;
}
.pill.active{
    background:var(--accent);
    color:#0a0a0a;
    border-color:var(--accent);
    font-weight:600;
}
.product-grid{
    display:flex;
    gap:1px;
    background:var(--bg);
}
.p-card{
    width:200px;
    height: 300px;
    background:var(--bg);
    padding:14px;
    cursor:pointer;
    animation: p-card1 2s ease-in-out ;
}
.p-img{
    width:100%;
    height: 200px;
    aspect-ratio:1/1;
    border-radius:7px;
    background:var(--surface);
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    border:1px solid var(--border);
}
.badge{
    position:absolute;
    top:8px;
    left:8px;
    font-size:8px;
    padding:3px 7px;
    border-radius:2px;
    font-weight:700;
    letter-spacing:0.5px;
}
.b-new{
    background:var(--accent);
    color:#0a0a0a;
}
.b-sale{
    background:#b03a2e;
    color:#fff;
}
.b-hot{
    background:#1a3a2a;
    color:#4ade80;
}
.p-brand{
    font-size:8px;
    color:var(--muted);
    letter-spacing:2px;
    margin-top: 5px;
    margin-bottom:3px;
}
.p-name{
    font-size:11px;
    color:var(--text);
    line-height:1.4;
    margin-bottom:8px;
}
.p-foot{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.p-price{
    font-size:14px;
    font-weight:500;
    color:var(--accent);
}
.p-old{
    font-size:9px;
    color:var(--muted2);
    text-decoration:line-through;
    margin-left:4px;
}
.p-stars{
    font-size:10px;
    color:var(--accent);
    margin-top:2px;
}
.add-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    width:26px;
    height:26px;
    border-radius:50%;
    background:var(--card);
    border:0.5px solid var(--border2);
    font-size:16px;
    color:var(--muted);
}
.promo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:var(--card2);
    border-top:0.5px solid var(--border);
    border-bottom:0.5px solid var(--border);
    padding:22px 24px;
}
.promo-left h3{
    font-family:Georgia,serif;
    font-size:18px;
    font-weight:400;
    color:var(--text);
    margin-bottom:5px;
}
.promo-left p{
    font-size:11px;
    color:var(--muted);
    line-height:1.6;
    margin-bottom:14px;
}
.promo-pct{
    font-family:Georgia,serif;
    font-size:42px;
    color:var(--accent);
    line-height:1;
    font-weight:400;
}
.promo-right small{
    display:block;
    font-size:8px;
    color:var(--muted);
    letter-spacing:2px;
    margin-top:3px;
}
.featured{
    padding:0 24px 22px;
}
.feat-card{
    background:var(--card);
    border:0.5px solid var(--border2);
    border-radius:8px;
    padding:14px;
    display:flex;
    gap:13px;
    align-items:center;
    margin-bottom:8px;
    cursor:pointer;
}
.feat-img{
    width:60px;
    height:60px;
    background:var(--surface);
    border-radius:7px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:26px;
    flex-shrink:0;
    border:0.5px solid var(--border);
}
.feat-info .brand{
    font-size:8px;
    color:var(--muted);
    letter-spacing:1.5px;
    margin-bottom:2px;
}
.feat-info .name{
    font-size:12px;
    color:var(--text);
    margin-bottom:6px;
}
.feat-row{
    display:flex;
    align-items:center;
    gap:8px;
}
.feat-price{
    font-size:14px;
    color:var(--accent);
    font-weight:500;
}
.feat-tag{
    font-size:8px;
    padding:2px 7px;
    border-radius:2px;
    background:var(--accent-dim);
    color:var(--accent);
    border:0.5px solid rgba(232,201,126,0.3);
}
.newsletter{
    padding:30px 24px;
    background:radial-gradient(ellipse at 50% 100%,#1a1408,var(--bg));
    border-top:0.5px solid var(--border);
    text-align:center;
}
.newsletter h3{
    font-family:Georgia,serif;
    font-size:18px;
    font-weight:400;
    color:var(--text);
    margin-bottom:6px;
}
.newsletter p{
    font-size:11px;
    color:var(--muted);
    margin-bottom:16px;
    line-height:1.7;
}
.nl-form{
    display:flex;
    gap:5px;
    max-width:350px;
    margin:0 auto;
}
.nl-input{
    flex:1;
    background:var(--card);
    border:0.5px solid var(--border2);
    color:var(--text);
    font-size:11px;
    padding:10px 13px;
    border-radius:3px;
    outline:none;
}
.nl-input::placeholder{
    color:var(--muted2);
}

.btn-gold{
    background-color: var(--accent2);
    border-radius:8px;
    border: 0px;
    color: var(--text);
    cursor: pointer;
    transition: all 0.5s;
    padding: 10px;
}
.btn-gold:hover{
    background-color: var(--accent);
    color: var(--border2);
    transition: all 0.5s;
}

.footer{
    background:#0A0A0A;
    color:#E8C97E;
    padding:40px 60px;
    border-top:1px solid #222;
    
}


.footer-content{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap:60px;
}


.left img{
    width:50px;
    margin-bottom:15px;
}

.left p{
    color:#777;
    font-size:12px;
    line-height:1.6;
    max-width:350px;
}


h4{
    font-size:13px;
    margin-bottom:10px;
}


ul{
    list-style:none;
}

li{
    color:#777;
    font-size:12px;
    margin-bottom:6px;
}
ul li a {
    text-decoration: none;
    color: #777;
}

.contact{
    margin-top:20px;
}


.note p{
    color:#777;
    font-size:12px;
    line-height:1.6;
}
/*قسم  التحريك و الhover*/

.nav-links a:hover{
    color:var(--accent);
    transition: 1s;
    animation-timing-function: ease-out;
    text-shadow: 0 0 5px var(--accent);
}


@keyframes s1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes linborder {
    0% {
        border-color: var(--border2);
    }

    50% {
        box-shadow: 0 0 8px var(--accent);
        border-color: var(--accent);
    }

    100% {
        border-color: var(--border2);
    }
}


.add-btn:hover{
    background-color: var(--accent);
    color:#0a0a0a;
    border-color: var(--accent);
    transition: 0.3s;
}



.featured .feat-card{
    animation: outoRotateAnimation;
    animation-timeline: view(70% auto);
}


@keyframes outoRotateAnimation{
    from{
    opacity: 0;
    transform: translateY(200px) scale(0.3);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }

}

@keyframes p-card1{
    
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    50%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0.5;
        transform: translateX(-200px);
    }

    
}
.p-card{
    animation: p-card1;
    animation-timeline: view(1% 1%);
}

.p-card:hover{
    background-color: var(--border2);
}
.pill:hover{
    color:var(--accent2);
    border-color:var(--accent);
    transition: 0.5s;
}

.cat-card:hover{
    border-color:var(--accent);
}

.feat-card:hover{
    border-color:var(--accent);
}


.p-brand,.p-name,.p-foot {
    opacity: 0;
    transition: 0.5s;
}

.p-card:hover .p-brand,.p-card:hover .p-name,.p-card:hover .p-foot {
    opacity: 1;
    animation: hoverp-card 0.5s ease-in-out;
}
.p-card{
    animation: p-card1;
    animation-timeline: view(1% 1%);
}

.p-card:hover{
    background-color: var(--border2);
}

@keyframes hoverp-card{
    to{
        opacity: 1;
        transform:translateY(0) ;
    }
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
}

nav{
    animation: down 2s ease-in-out 1;
}

@keyframes down{
    from{
        top: -50px;
    }
    to{
        top: 0px;
    }
}

.Main{
    animation: skipall 2s ease-in-out 1;
    margin-top: 58px;
}

@keyframes skipall{
    from{
        margin-top: 0px;
    }   
    to{
        margin-top: 58px;
    }
}

.dash{
    width: 30px;
    height: 30px;
    position: relative;
    position: fixed;
    z-index: 2;
    background-color: rgba(143, 77, 1, 0.247);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    animation: dash1 20s ease-in-out infinite;
}

.dash a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

@keyframes dash1{
    0%{
        transform: translate(0px) rotate(0deg);
    }
    50%{
        transform: translate(1365px) rotate(180deg);

    }
    100%{
        transform: translate(0px) rotate(360deg);
    }
}

/*تنسيق عرض الصفحة*/

    @media (20px <= width <= 800px){

    nav{
        flex-direction: column;
        gap: 20px;
    }

    .Main{
        margin-top: 140px;
        animation: skipall800px 2s ease-in-out 1;
    }

    @keyframes skipall800px{
    from{
        margin-top: 0px;
    }   
    to{
        margin-top: 140px;
    }
    }

    .cat-grid{
        display: flex;
        flex-direction: column;
    }

    .product-grid{
        flex-direction: column;
    }

    .dash{
        display: none;
    }
    .loginn{
        width: 30px;
        height: 30px;
        background-color: var(--accent2);
        color: #ffffff;
        font-weight: bold;

    }
    .loginn a{
        color: #ffffff;
        font-weight: bold;
    }
    .loginn{
        width: 60px;
        height: 30px;
        border-radius: 12px;
        position: relative;
        background-color: var(--accent2);
        color: #ffffff;
        font-weight: bold;

    }
.loginn a{
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
        line-height: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.loginn:hover{
    background-color: white;
}
.loginn a:hover{
    color: var(--accent2);
}    
    }